{% extends 'task_manager/base.html' %}
{% load static %}
{% block content %}
<!-- navbar section -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="navbar-logo">
    <a class="navbar-brand" href="#">
      <img src="{% static 'task_manager/logo.png' %}" alt="Logo">
    </a>
  </div>
  <div class="navbar-search">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
  </div>
  <div class="navbar-bell">
    <a class="nav-link" href="#">
      <i class="fas fa-bell"></i>
    </a>
  </div>
</nav>
<!-- end of navbar section -->
<!-- update and filter section -->
<div class="container">
  <div class="d-flex justify-content-between">
    <div class="item-container">
      <div class="text-right">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">+ add task</button>
      </div>
    </div>
    <div class="item-container">
      <div class="text-center">
        <div class="form-group">
          <select class="form-control" id="filter">
            <option>filter your to-do list</option>
            <option>Completed tasks</option>
            <option>not yet</option>
          </select>
        </div>
      </div>
    </div>
    <div class="item-container">
      <div class="text-left">
        <i class="far fa-calendar-alt fa-lg"></i>
      </div>
    </div>
  </div>
</div>
<!-- end of update and filter section -->
{% if api_response.status_code == 200 %}
  {% include 'task_manager/to-do.html' with included_titles=titles %}
{% elif api_response.status_code == 404 %}
  {% include 'task_manager/error.html' %}
{% endif %}
{% include 'task_manager/modal.html' %}
<!-- footer section -->
<footer class="text-center text-white" style="background-color: #f1f1f1;" id="footer">
  <!-- Grid container -->
  <div class="container pt-2">
    <!-- Section: Social media -->
    <section class="mb-1">
      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://twitter.com/mtwa_mgimwa"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>
      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/in/mtwa-mgimwa-76b77320a/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/cisco2001"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 ToDoGenius
  </div>
  <!-- Copyright -->
</footer>
{% endblock content %}