{% extends 'task_manager/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <h3>To-Do List</h3>
  <ul class="list-group" id="task-list">
    {% for entry in included_entries %}
    <li class="list-group-item {% if entry.value.completed %}completed hide{% endif %}" itemid="{{ entry.key }}">
      <div class="todo-item">
        <div>
          {%if not entry.value.completed %}
          <input type="checkbox" class="todo_checkbox" id="{{ entry.key }}">
          {% endif %}
        </div>
        <div class="title" id="item_title{{ entry.key }}"style="margin-left: 5px;">{{ entry.value.title }}</div>
        <div class="description" id="item_description{{entry.key}}" style="display: none;"><p>{{ entry.value.description }}</p></div>
        <div class="actions">
          {% if not entry.value.completed %}
          <a href="#" id="clickableEditIcon" class="clickable-icon" data-bs-toggle="modal" data-bs-target="#editModal" data-itemid="{{ entry.key }}">
            <i class="fas fa-edit"></i>
          </a>
          {% else %}
          <i class="fas fa-check-circle completed-task"></i>
          {% endif %}
          <a href="#" class="delete-item" data-itemid="{{ entry.key }}">
            <i class="fas fa-trash-alt icon"></i>
          </a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}